body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}


.section-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 26px;
}