.main-container {
    width: 100%;
    box-sizing: border-box;
}
.section-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 26px;
}