.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 22px 25px 22px 25px;
    gap: 7px;
}

.footer h2 {
    color: var(--White, #FFF);
    font-family: Shrikhand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 9px;
}

.footer p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-row {
    display: flex;
    flex-direction: row;
    gap: 7px;
    color: var(--White, #FFF);
}