.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 0 13px 0;
    position: relative;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.45);
}

.logo {
    width: 197px; 
    height: 36px; 
}

.back-button {
    position: absolute;
    left: 25px;
    color: #353535;
}