@media screen and (min-width:1025px) {
    body {
        display: flex;
        justify-content: center;
    }
    
    .main-container {
        max-width: 1440px;
    }

    .fonctionnement {
        width: 31%;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px;
        height: 114px;
        position: relative;

        &-nav {
            gap: 7px;
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 64px;
            right: 230px;
        }
    }

    .footer h2 {
        padding-left: 16px;
        position: absolute;
        top: 50px;
        right: 45px;
        
    }

}