.card-content-heart {
    position: absolute;
    right: 33px;
    bottom: 28px;
}

.card-content-heart-filling {
    position: absolute;
    right: 33px;
    bottom: 28px;
    opacity: 0;
}

.card-content-heart-filling:hover {
    opacity: 1;
  }
  


  
