.card-content-heart {
    position: absolute;
    right: 33px;
    bottom: 47px;
}

.card-content-heart-filling {
    position: absolute;
    right: 33px;
    bottom: 47px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    background-color: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.card-content-heart-filling:hover {
    opacity: 1;
  }

  .heart-restaurants {
    position: absolute;
    right: 50px;
    top: 52px;
  }
  


  
