@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@keyframes fadein {
  from {
    opacity: 1;
    display: block;
    }
    to {
      opacity: 0;
      display: none;
    }
}
  
  
  .spinner-container {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed; 
    z-index: 9999;  
    margin: auto; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: fadein 3s ease-out forwards; 
  }

  .spinner {
    position: fixed; 
    z-index: 9999; 
    margin: auto; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px; 
    height: 50px; 
    border: 16px solid var(--primary-color); 
    border-top: 16px solid var(--pink); 
    border-radius: 50%; 
    background: rgba(0,0,0,0.1);
    animation: spin 2s linear, fadein 3s ease-out forwards; 
  }

  

  
