.primary-color {
    color: #9356dc;
}

.green {
    color: #99e2d0;
}

.green-font {
    color:#008766
}

.blue {
    color: #89C8fa;
}

.second-blue {
    color: #003A68;
}

.white {
    color: #FFF;
}

