html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #9356dc;
  --green: #99e2d0;
  --green-font: #008766;
  --blue: #89C8fa;
  --second-blue: #003A68;
  --white: #FFF;
  --grey: #f6f6f6;
  --second-grey: #353535;
  --purple:#9356DC;
  --pink: #FF79DA;
}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 13px 16px 13px 16px;
  height: 50px;
  color: var(--white);
  transition: background-color 1s ease;
}
.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 1s ease;
}

.button-restaurants {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 16px 48px 15px 49px;
  height: 50px;
  color: var(--white);
  transition: background-color 1s ease;
  width: 186px;
  margin-top: 40px;
}
.button-restaurants:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 1s ease;
}

.card-content-heart {
  position: absolute;
  right: 33px;
  bottom: 30px;
}

.card-content-heart-filling {
  position: absolute;
  right: 33px;
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  background-image: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card-content-heart-filling:hover {
  opacity: 1;
}

.fa-heart {
  font-size: 1.5em;
}

.card-content-heart-filling-restaurant {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  background-image: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute;
}
.card-content-heart-filling-restaurant:hover {
  opacity: 1;
}

.heart-restaurant {
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: #EAEAEA;
  gap: 17px;
  color: var(--second-grey);
  text-align: center;
  padding-left: 90px;
}

.search-input {
  height: 49px;
  width: 196px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.spinner-container {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 9999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: fadein 3s ease-out forwards;
}

.spinner {
  position: fixed;
  z-index: 9999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 16px solid var(--primary-color);
  border-top: 16px solid var(--pink);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  animation: spin 2s linear, fadein 3s ease-out forwards;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.section-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 26px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 0 13px 0;
  position: relative;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.45);
}

.logo {
  width: 197px;
  height: 36px;
}

.back-button {
  position: absolute;
  left: 25px;
  color: #353535;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px 22px 25px;
}
.footer-nav {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.footer-row {
  display: flex;
  flex-direction: row;
  gap: 7px;
  color: var(--White, #FFF);
}

.footer h2 {
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 9px;
}

.footer li {
  color: var(--White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 1025px) {
  .main-container {
    max-width: 1440px;
  }
  .heart-restaurants {
    right: 340px;
    top: 70px;
  }
  .fonctionnement {
    width: 31%;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    height: 114px;
    position: relative;
  }
  .footer-nav {
    gap: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 64px;
    right: 230px;
  }
  .footer h2 {
    padding-left: 16px;
    position: absolute;
    top: 50px;
    right: 45px;
  }
  .menu {
    margin-left: 15%;
    margin-right: 15%;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/**button section**/
.button-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 57px;
  padding-top: 39px;
  background-color: var(--grey);
}
.button-section-txt {
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}

.button-section h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-section p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--second-grey);
}

/**fonctionnements**/
.fonctionnement-section {
  margin-bottom: 68px;
  gap: 26px;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1025px) {
  .fonctionnement-section {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.fonctionnement-buttons {
  gap: 21px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 1025px) {
  .fonctionnement-buttons {
    flex-direction: row;
  }
}

.fonctionnement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.fonctionnement-number {
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  left: -4px;
  position: absolute;
}
.fonctionnement-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  height: 72px;
  background-color: var(--grey);
  width: 100%;
  padding-left: 30px;
  gap: 30px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement-button p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fonctionnement-button-icon {
  color: #7E7E7E;
}

/**Restaurants**/
.restaurants {
  width: 100%;
  background-color: var(--grey);
  padding-left: 17px;
  padding-right: 18px;
  padding-top: 54px;
  padding-bottom: 66px;
}
@media screen and (min-width: 1025px) {
  .restaurants {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 1025px) {
  .restaurants-cards {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    column-gap: 82px;
  }
}
.restaurants-cards img {
  width: 100%;
  height: 231px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.card {
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  height: 100%;
  object-fit: cover;
  position: relative;
  background-color: var(--white);
}
@media screen and (min-width: 1025px) {
  .card {
    width: 45%;
  }
}
.card-nouveau {
  color: var(--green-font);
  background-color: var(--green);
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 13px;
  right: 12px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 8px;
  height: 49%;
  position: relative;
}
.card-content-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 16px 0 0 16px;
}
.card-content-subtitle {
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 5px 0 12px 16px;
}

.image {
  position: absolute;
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.image-restaurant {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: var(--grey);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 40px;
  margin-top: -50px;
  position: relative;
}

.restaurant-part {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  justify-content: space-between;
  padding-right: 55px;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .restaurant-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 0px;
  }
}

.restaurants-title {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 15px;
  position: relative;
}

.restaurants-menus {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.restaurants-section {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1025px) {
  .restaurants-section {
    padding-left: 20%;
    padding-right: 20%;
  }
}
.restaurants-section h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 12px;
  border-bottom: 3px solid var(--green);
  box-sizing: border-box;
  width: 40px;
  padding-bottom: 10px;
}
.restaurants-section-card {
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  height: 70px;
  object-fit: cover;
  position: relative;
  background-color: var(--white);
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
}
.restaurants-section-card-text {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex: 1;
}
.restaurants-section-card-text p {
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.restaurants-section-card-check {
  width: 59px;
  height: 100%;
  color: var(--white);
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -59px;
  transition: all 0.7s;
}
.restaurants-section-card-check:hover {
  margin-right: 0;
}
.restaurants-section-card h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price {
  color: var(--second-grey);
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 13px;
  width: 65px;
}

.button-align {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
