.restaurants-title {
    color: var(--Black, #101010);
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}

.restaurants-menus {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.restaurants-section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    background-color: var(--grey);
    padding-left: 15px;
    padding-right: 15px;


    & h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 12px;
    border-bottom: 3px solid var(--green);
    box-sizing: border-box;
    width: 40px;
    padding-bottom: 10px;
    }

    &-card {
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    height: 100%;
    object-fit: cover;
    position:relative;
    background-color: var(--white);
    padding: 15px;

    & h3 {
        font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        & p {
            font-size: 15.043px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
    }

    